body{
    background-image: url("/Resources/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

table{
    width: 80%;
    margin: 40px;
    background: rgb(124, 154, 167);
}

table.list{
    text-align: center;
    /* width: 100%; */
}

td{
    border: 1px solid black;
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgb(204, 200, 200);
}

input[type = "text"], input[type = "number"]{
    width: 91%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid rgb(165, 163, 163);
    border-radius: 4px;
}

button{
    background: white;
    padding: 6px 12px;
    margin: 15px 0 10px 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background: rgb(64, 117, 139);
}

